<div class="card">
  <mat-card-title>Add a New Facility</mat-card-title>
  <div class="card-body">
    <form novalidate (ngSubmit)="save()" [formGroup]="facilityForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="facilityNameId">Facility Name</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="facilityNameId"
            type="text"
            placeholder="Facility Name (required)"
            required
            formControlName="facilityName"
            [ngClass]="{
              'is-invalid':
                (facilityForm.get('facilityName')?.touched ||
                  facilityForm.get('facilityName')?.dirty) &&
                !facilityForm.get('facilityName')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="facilityForm.get('facilityName')?.errors?.required">
              Please enter facility name.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="addressId">Last Name</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="addressId"
            type="text"
            placeholder="Facility Address"
            formControlName="address"
            [ngClass]="{
              'is-invalid':
                (facilityForm.get('address')?.touched ||
                  facilityForm.get('address')?.dirty) &&
                !facilityForm.get('address')?.valid
            }"
          />
          <span class="invalid-feedback">
            <span *ngIf="facilityForm.get('address')?.errors?.maxlength">
              The address must be less than 250 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="employeesId">Number of Employees</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="employeesId"
            type="number"
            placeholder="Number of employees"
            formControlName="employees"
            [ngClass]="{
              'is-invalid':
                (facilityForm.get('employees')?.touched ||
                  facilityForm.get('employees')?.dirty) &&
                !facilityForm.get('employees')?.valid
            }"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
            [title]="
              facilityForm.valid
                ? 'Save your entered data'
                : 'Disabled until the form data is valid'
            "
            [disabled]="!facilityForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
