mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;
  display: flex;
  justify-content: left;
  align-items: left;

  font-size: 2rem;
  color: rgb(14, 12, 12);
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content > mat-card {
  width: 200px;
}

.common-content {
  padding-top: 20px;
  padding-left: 235px;
}

.overflow-x-hidden .mat-drawer-inner-container {
  overflow-x: hidden;
}

::ng-deep .page-body {
    border-radius: 10px;
    padding: 1rem;
    width: calc(100% - 20px);
}
