<mat-toolbar color="primary">
  <h1>
    Data Acquisition 
  </h1>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/organization">Organization</button>
  <button mat-button routerLink="/facility">Facilities</button>
  <button mat-button routerLink="/workstation">Workstations</button>
  <button mat-button routerLink="/device">Devices</button>
  <button mat-button routerLink="/experiment">Experiments</button>
  <button mat-button routerLink="/about">About</button>

</mat-toolbar>

<router-outlet></router-outlet>